<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
    <Bundle
        Name="Test"
        Version="1.0.0"
        Manufacturer="Test"
        UpgradeCode="12345678-1234-1234-1234-123456789012">
        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />
        <Chain>
            <MsiPackage SourceFile="SecureLabAgent.msi" Vital="yes" Compressed="yes" />
        </Chain>
    </Bundle>
</Wix>